@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,500&display=swap");

/* main */
:root {
    --bluecolor: #5ebbf3;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    min-height: 100%;
    width: 100%;
}

body {
    background: #dce1e3;
    font-family: "Roboto", sans-serif;
    background-image: url("../img/wave.svg");
    background-size: cover;
}

ul, li {
    padding: 0;
    margin: 0;
}


#container {
    width: 870px;
    margin: 0 auto;
    background-color: white;
}

/* profile */
#profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* profile intro */

#profile-intro {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#basic-info {
    text-align: center;
}

#name {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 10px;
    color: #485055;
}

#online-status {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

#status {
    color: green;
}

#mood {
    text-align: left;
    font-size: 1.3em;
}

#profile-actions {
    margin-left: 30px;
}

#profile-options li {
    font-size: 1.1em;
    padding: 20px 0px 0px 0px;
    font-weight: 500;
}

#friendship-buttons {
    margin-top: 20px;
}

.btnfriendship {
    display: block;
    margin: 15px auto;
    width: 100%;
    background-color: var(--bluecolor);
    border: none;
    border-radius: 13px;
    padding: 9px;
    box-shadow: 2px 3px 8px 1px rgb(179, 174, 174);
}

.btnfriendship:hover {
    box-shadow: 2px 6px 10px 1px rgb(179, 174, 174);
}

/* profile description */
.separator {
    border-top: 1px dotted black;
}

#bio {
    padding: 5px 0px;
}

#intro {
    margin-top: 20px;
    overflow-wrap: break-word;
}

/* posts area */
#post-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#posts-description {
    text-align: center;
    padding: 20px;
}

.post-wrapper {
    width: 200px;
    height: 230px;
    border: 1px solid black;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    padding: 10px;
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
}

.date {
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
}

.mainLikes > i {
    color: red;
}