@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,500&display=swap");

/* main */
:root {
    --bluecolor: #5ebbf3;
}

html {
    min-height: 100%;
    width: 100%;
}

body {
    background: #dce1e3;
    font-family: "Roboto", sans-serif;
    background-image: url("../img/undraw_true_friends_c94g.svg"), url("../img/wave.svg");
    background-position: left, bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: 40%, auto;
}

#form-style {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

/* login form */
ul.dropdown-menu.show {
    border: 1px solid var(--bluecolor);
    width: 330px;
    left: -240px;
}

#dropdownEmail,
#dropdownPassword {
    box-shadow: 1px 1px 3px 1px rgb(179, 174, 174);
}

#dropdownEmail:focus,
#dropdownPassword:focus {
    box-shadow: 2px 3px 6px 1px rgb(179, 174, 174);
}

/* website buttons */
button.btn.btn-primary.loginPopupButton {
    background-color: var(--bluecolor);
    border: none;
    border-radius: 13px;
    width: 36%;
    padding: 9px;
    box-shadow: 2px 3px 8px 1px rgb(179, 174, 174);
}

button.btn.btn-primary.w-100.registerButton {
    background-color: var(--bluecolor);
    border: none;
    border-radius: 13px;
    padding: 9px;
    box-shadow: 2px 3px 8px 1px rgb(179, 174, 174);
}

button.btn.btn-primary.w-100.registerButton:hover {
    box-shadow: 2px 6px 10px 1px rgb(179, 174, 174);
}

/* login */
body {
    background-image: url("../img/undraw_true_friends_c94g.svg"), url("../img/wave.svg");
    background-position: left, bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: 40%, auto;
}

@media (max-width: 991.98px) {
    body {
        background-size: 30%, 140%;
    }
}

@media (max-width: 767.98px) {
    body {
        background-size: 70%, 180%;
        background-position: bottom, bottom center;
    }
}

@media (max-width: 575.98px) {
    body {
        background-position: center bottom, bottom;
        background-size: 110%, 200%;
    }
}




