#sidebar {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #212529;
    border: 0px 1px 1px 1px solid white;
    z-index: 1;
    color: white;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
}

#sidebar ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/*d-sm-none*/
