/* fix position and size of login form on navbar */

ul.dropdown-menu.show {
  border: 1px solid #7eb3f2;
  width: 330px;
  left: -240px;
}

/* css override login form */
#dropdownEmail,
#dropdownPassword {
  box-shadow: 1px 1px 3px 1px rgb(179, 174, 174);
}

#dropdownEmail:focus,
#dropdownPassword:focus {
  box-shadow: 2px 3px 6px 1px rgb(179, 174, 174);
}

button.btn.btn-primary {
  background-color: #5ebbf3;
  border: none;
  border-radius: 13px;
  width: 36%;
  padding: 9px;
}

button.btn.btn-primary:hover {
  box-shadow: 2px 6px 10px 1px rgb(179, 174, 174);
}
