body {
  background: #dce1e3;
}

html.html100 {
  min-height: 100%;
  width: 100%;
}

/* homepage waves/background */
body#waves {
  background-image: url("../img/undraw_true_friends_c94g.svg"),
    url("../img/wave.svg");
  background-position: center left, bottom center;
  background-repeat: no-repeat, repeat-x;
  background-size: 50%, auto;
}

/* css override login form */

ul.dropdown-menu.show {
  border: 1px solid #5ebbf3;
  width: 330px;
  left: -240px;
}

#dropdownEmail,
#dropdownPassword {
  box-shadow: 1px 1px 3px 1px rgb(179, 174, 174);
}

#dropdownEmail:focus,
#dropdownPassword:focus {
  box-shadow: 2px 3px 6px 1px rgb(179, 174, 174);
}

/* website buttons */
button.btn.btn-primary.loginPopupButton {
  background-color: #5ebbf3;
  border: none;
  border-radius: 13px;
  width: 36%;
  padding: 9px;
  box-shadow: 2px 3px 8px 1px rgb(179, 174, 174);
}

a.btn.btn-primary.registerbutton,
button.btn.btn-primary.w-100.registerButton {
  background-color: #5ebbf3;
  border: none;
  border-radius: 13px;
  padding: 9px;
  box-shadow: 2px 3px 8px 1px rgb(179, 174, 174);
}

button.btn.btn-primary:hover,
a.btn.btn-primary.registerbutton:hover,
button.btn.btn-primary.w-100.registerButton:hover {
  box-shadow: 2px 6px 10px 1px rgb(179, 174, 174);
}

/* homepage */
@media (max-width: 991.98px) {
  body#waves {
    background-size: 60%, 140%;
  }
}

@media (max-width: 767.98px) {
  body#waves {
    background-size: 70%, 180%;
  }
}

@media (max-width: 575.98px) {
  body#waves {
    background-position: center bottom, bottom;
    background-size: 90%, 200%;
  }
  div.pt-5.w-50 {
    width: 75% !important;
  }
}

/* login */
body#loginWaves {
  background-image: url("../img/undraw_true_friends_c94g.svg"),
    url("../img/wave.svg");
  background-position: left, bottom center;
  background-repeat: no-repeat, repeat-x;
  background-size: 40%, auto;
}

@media (max-width: 991.98px) {
  body#loginWaves {
    background-size: 30%, 140%;
  }
}

@media (max-width: 767.98px) {
  body#loginWaves {
    background-size: 70%, 180%;
    background-position: bottom, bottom center;
  }
}

@media (max-width: 575.98px) {
  body#loginWaves {
    background-position: center bottom, bottom;
    background-size: 110%, 200%;
  }
}

/* form-style  */
#formstyle {
  min-height: 100%;
}

.form-style {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

body#registerWaves {
  background-image: url("../img/undraw_true_friends_c94g.svg"),
    url("../img/wave.svg");
  background-position: left, bottom center;
  background-repeat: no-repeat, repeat-x;
  background-size: 40%, auto;
}

/* alertArea Navbar */

.alertPopup {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  width: 200px;
  height: 45px;
  background-color: #5ebbf3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertPopup::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #dc3545 transparent;
}
